[submodule "extern/yaml-cpp"]
	path = extern/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
[submodule "extern/pybind11"]
	path = extern/pybind11
	url = https://github.com/pybind/pybind11.git
	branch = stable
[submodule "extern/HighFive"]
	path = extern/HighFive
	url = https://github.com/BlueBrain/HighFive.git
[submodule "extern/user-modules/mycode1"]
	path = extern/user-modules/mycode1
	url = git@github.com:The9Cat/EXP-modules.git
