* text=auto !eol
ExpMPI/doc/doxygen.gif svneol=native#unset
ExpMPI/doc/exp_logo.gif svneol=native#unset
ExpMPI/doc/global.doc -text
ExpMPI/doc/multistep.doc -text
ExpMPI/doc/verbose.doc -text
ExpMPI/exputil/BarrierWrapper.cc -text
ExpMPI/exputil/Cheby1d.cc -text
ExpMPI/exputil/FileUtils.cc -text
ExpMPI/exputil/Interp1d.cc -text
ExpMPI/exputil/ProgramParam.cc -text
ExpMPI/exputil/eigencc.cc -text
ExpMPI/exputil/toomre.cc -text
ExpMPI/include/BarrierWrapper.H -text
ExpMPI/include/FileUtils.H -text
ExpMPI/include/ProgramParam.H -text
ExpMPI/m4/acx_blas.m4 -text
ExpMPI/m4/acx_lapack.m4 -text
ExpMPI/m4/ax_boost_base.m4 -text
ExpMPI/m4/ax_boost_filesystem.m4 -text
ExpMPI/m4/ax_boost_mpi.m4 -text
ExpMPI/m4/ax_boost_regex.m4 -text
ExpMPI/m4/ax_boost_serialization.m4 -text
ExpMPI/m4/ax_boost_system.m4 -text
ExpMPI/src/EXPException.H -text
ExpMPI/src/EXPException.cc -text
ExpMPI/src/MixtureSL.H -text
ExpMPI/src/Shells.H -text
ExpMPI/src/Shells.cc -text
ExpMPI/src/chkTimer.H -text
ExpMPI/src/chkTimer.cc -text
ExpMPI/src/user/RespMat3.h -text
ExpMPI/src/user/Trajectory.H -text
ExpMPI/src/user/UnboundCoefs.H -text
ExpMPI/src/user/UnboundCoefs.cc -text
ExpMPI/src/user/UnboundOrbit.H -text
ExpMPI/src/user/UnboundOrbit.cc -text
ExpMPI/src/user/UserPST.H -text
ExpMPI/src/user/UserPST.cc -text
ExpMPI/src/user/UserReflect.H -text
ExpMPI/src/user/UserReflect.cc -text
ExpMPI/src/user/UserRotF.cc -text
ExpMPI/src/user/UserSatWake.H -text
ExpMPI/src/user/UserSatWake.cc -text
ExpMPI/src/user/UserSlabHalo.H -text
ExpMPI/src/user/UserSlabHalo.cc -text
ExpMPI/src/user/cratint.cc -text
ExpMPI/src/user/invsvd.cc -text
ExpMPI/src/user/respmat6.cc -text
ExpMPI/src/user/rombeveccmp.cc -text
ExpMPI/utils/Analysis/Makefile.am -text
ExpMPI/utils/Analysis/Particle.cc -text
ExpMPI/utils/Analysis/Particle.h -text
ExpMPI/utils/Analysis/SphereSL.H -text
ExpMPI/utils/Analysis/SphereSL.cc -text
ExpMPI/utils/Analysis/diskprof.cc -text
ExpMPI/utils/Analysis/foarray.H -text
ExpMPI/utils/Analysis/haloprof.cc -text
ExpMPI/utils/Analysis/slabprof.cc -text
ExpMPI/utils/ICs/DiskHalo2.cc -text
ExpMPI/utils/ICs/DiskHalo2.h -text
ExpMPI/utils/ICs/EllipsoidForce.H -text
ExpMPI/utils/ICs/EllipsoidForce.cc -text
ExpMPI/utils/ICs/Particle.cc -text
ExpMPI/utils/ICs/bonnerebert.cc -text
ExpMPI/utils/ICs/pst_model.cc -text
ExpMPI/utils/PhaseSpace/psp2tarray.cc -text
ExpMPI/utils/SL/CylindricalDisk.H -text
ExpMPI/utils/SL/CylindricalDisk.cc -text
ExpMPI/utils/SL/diskpot.cc -text
