* text=auto !eol
ExpMPI/doc/doxygen.gif svneol=native#unset
ExpMPI/doc/exp_logo.gif svneol=native#unset
ExpMPI/doc/global.doc -text
ExpMPI/doc/multistep.doc -text
ExpMPI/doc/verbose.doc -text
ExpMPI/src/EXPException.H -text
ExpMPI/src/EXPException.cc -text
ExpMPI/src/MixtureSL.H -text
ExpMPI/src/user/UserReflect.H -text
ExpMPI/src/user/UserReflect.cc -text
ExpMPI/src/user/UserRotF.cc -text
ExpMPI/utils/ICs/Particle.cc -text
ExpMPI/utils/ICs/bonnerebert.cc -text
