{
    "_comment": ["A simple specification stanza for H and HE. ",
		 "I use _comment for comments by convention but ",
		 "you could use any other tag not used by the code. ",
		 "E.g. \"author\" and \"data\" are not currently used. ",
		 "In JSON, all strings must be surrounded by double ",
		 "quotes, and name tags are strings. String values must ",
		 "be surrounded in double quotes but integer or float ",
		 "types do not need quotes."],
    "author"  : "Martin Weinberg",
    "date"    :
    {
        "day"  : 15,
        "month": "May",
        "year" : 2016
    },
    "elements": {
	"1": {
	    "mfrac": 0.76,
	    "temp": 20000.0
	},
	"2": {
	    "mfrac": 0.24,
	    "temp": 20000.0
	}
    }
}
