{
    "description": ["This is a test config database ",
		    "that is very simple"],
    "param1":
    {
	"desc": "This is an integer parameter",
	"value": 1
    },
    "param2": 
    {
	"desc": "This is a float parameter",
	"value": 3.14
    },
    "param3":
    {
	"value": "what"
    },
    "param4":
    {
	"desc": "This is pi times 100000",
	"value": 314159
    }
}
