{
    "parameters":
    {
        "_comment1": "EXP test config tree",
	"_comment2": "I use _comment for comments by convention",
	"_comment3": ["In JSON, all strings must be surrounded by",
		     "double quotes, and name tags are strings.",
		     "String values must be surrount in double quotes",
		     "but integer or float types do not need quotes."],
        "author": "Martin Weinberg",
        "date":
        {
            "day": 15,
            "month": "June",
            "year": 2015
        },
        "global":
	{
	    "description": "Parameters that govern the entire simulation.",
	    "nbodmax":
	    {
                "desc": ["limit on phase space size to prevent running",
			 "out of core"],
                "value": 500000
	    },
	    "nthrds":
	    {
                "desc": ["Number of threads per process. I.e. may be",
			 "set to number cores per node"],
                "value": 2
	    },
	    "dtime":
	    {
                "desc": "top-level time step",
                "value": 0.01
	    },
	    "ldlibdir":
	    {
                "desc": "Location of the EXP loadable module libraries",
                "value": "/home/weinberg/lib/user"
	    },
	    "runtag":
	    {
                "desc": "Run ID string",
                "value": "run1"
	    },
	    "infile":
	    {
                "desc": "Initial conditions file",
                "value": "OUT.run1.chkpt"
	    },
	    "multistep":
	    {
                "desc": "Number of multiple timestep bisection levels",
                "value": 14
	    }
	},
        "components":
        {
            "description": ["Simulation components.  Each stanza below,",
			    "names the phase-space component and its,",
			    "configuration file"],
            "_comment": ["The \"name\" will be used by EXP for constructing",
			 "PSP files.  The data from the config files should",
			 "be entered here as well."],
	    "dark halo":
	    {
                "desc": "config file name",
                "config": "halo.conf1"
	    }
	},
	"output":
	{
            "description": ["Output components.  Each provides some,",
			    "sort of file diagnostic, i.e. phase-space,",
			    "checkpoints, global conserved quantity, "
			    "diagnostics, and so on."],

	    "outlog":
	    {
		"description": "General summary of phase space quantities",
		"nint":
		{
                    "desc": "number of steps between outputs",
                    "value": 1
		}
	    },
	    "outpsn":
	    {
		"description": ["Phase-space dumps (float-valued)",
				"for analysis."],
		"nint":
		{
                    "desc": "number of steps between outputs",
                    "value": 200
		}
	    },
	    "outchkpt":
	    {
		"description": ["Phase-space checkpoints (double-valued)",
				"for retart."],
		"nint":
		{
                    "desc": "number of steps between outputs",
                    "value": 200
		}
	    }
	},
	"external":
	{
	},
	"interaction":
	{
	}
    }
}
    
