name: "Build and Test"

on:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - main
      - devel
jobs:
  exp:
    strategy:
      matrix:
        os: [ubuntu-latest, ubuntu-22.04]
        cc: [gcc, clang]
        cxx: [g++, clang++]
        include:
          - cxx: clang++
            cxxflags: -stdlib=libstdc++
        exclude:
          - cc: gcc
            cxx: clang++
          - cc: clang
            cxx: g++

    name: "Test pyEXP Build"
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install core dependencies - ubuntu
        if: runner.os == 'Linux'
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential libeigen3-dev libfftw3-dev libhdf5-dev libopenmpi-dev libomp-dev
          sudo pip install numpy


      - name: Setup submodule and build
        run: |
          git submodule update --init --recursive
          mkdir -p build/install

      - name: Compile EXP
        if: runner.os == 'Linux'
        env:
          CC: ${{ matrix.cc }}
          CXX: ${{ matrix.cxx }}
        working-directory: ./build
        run: >-
          cmake
          -DENABLE_NBODY=YES
          -DENABLE_PYEXP=YES
          -DCMAKE_BUILD_TYPE=Release
          -DEigen3_DIR=/usr/include/eigen3/share/eigen3/cmake
          -DCMAKE_INSTALL_PREFIX=./install
          -DCMAKE_CXX_FLAGS=${{ matrix.cxxflags }}
          -Wno-dev
          ..

      - name: Make
        working-directory: ./build
        run: make -j 4

      - name: CTest Quick
        working-directory: ./build
        run: ctest --output-on-failure -L quick
        
      #- name: CTest Long
      #working-directory: ./build
      #run: ctest --output-on-failure -L long
